/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("/portfolio/assets/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/portfolio/assets/fonts/Oswald-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/portfolio/assets/fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/portfolio/assets/fonts/Mulish-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-black: #222;
  --color-white: #fff;
  --color-red: #FF3C3C;
  --color-grey: #989898;

  --font-family-base: "Mulish", sans-serif;
  --font-family-accent: "Oswald", sans-serif;

  --container-width: 1400px;
  --padding-x: 20px;
  --padding-y: 60px;

  --transition-duration: 0.2s;

  --border: 1px solid var(--color-black);

  --input-height: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
}

.light-block {
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-red)
}

a,
button,
input {
  transition-duration: var(--transition-duration)
}

.container {
  max-width: calc(var(--container-width) + var(--padding-x) * 2);
  margin-inline: auto;
  padding-inline:  var(--padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

button {
  background-color: var(--color-black);
  line-height: 60px;
  color: var(--color-white);
  font-family: var(--font-family-accent);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.open {
  display: flex !important;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-inline: var(--padding-x)
}

.header-menu-list {
  font-family: var(--font-family-accent);
  display: flex;
  justify-content:space-evenly;
  column-gap: 40px;
}

.header-menu-link {
  display: inline-flex;
  height: 60px;
  align-items: center;
  text-transform: uppercase;
}

.burger-menu{
  display: none;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
  height: 60px;
}

.burger-menu span {
  height: 2px;
  width: 20px;
  background-color: var(--color-black);
  bottom: 25px;
}

.burger-menu::after, .burger-menu::before {
  content: '';
  position: absolute;
  background-color: var(--color-white);
  transition: all 0.3s ease 0s;
}

.burger-menu::after{
  top: 25px;
  height: 2px;
  width: 12px;
}

.burger-menu::before {
  bottom: 25px;
  height: 2px;
  width: 20px;
}

.burger-menu.active span {
  transform: scale(0);
}

.burger-menu.active::after {
  bottom: 44%;
  width: 20px;
  transform: rotate(45deg) translate(0, 50%);
}

.burger-menu.active::before {
  top: 44%;
  transform: rotate(-45deg) translate(0, -50%);
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline-end: var(--padding-x);
}

.hero-sidebar-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 12px;
  font-weight: 500;
  /*padding-right: 21px;*/
  padding-left: 21px;
  padding-bottom: 60px;
}

.hero-sidebar-year {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  padding-bottom: 550px;
  /*padding-right: 21px;*/
}

.hero-sidebar-year span {
  background-color:#222 ;
  padding-bottom: 12px;
  padding-top: 60px;
}

.hero-sidebar-year::after {
  content: "";
  display: block;
  background-color: var(--color-white);
  width: 1px;
  height: 640px;
  right: 9px;
  top: 0;
  position: absolute;
  z-index: -2;
}

.hero-body {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: clamp(20px, 2.78vw, 40px);
  padding-inline-start: var(--padding-x);
  min-height: 862px;
}

.hero-first-column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  min-height: 862px;
  column-gap: 160px;
  padding-top: 160px;
  padding-bottom: 60px;
  width: clamp(340px, 51.39vw,740px);
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.hero-stats {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 60px;
}

.hero-stats-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-stats-number {
  font-family: var(--font-family-accent);
  font-size: 48px;
  font-weight: 300;
  line-height: 54px;
}

.hero-stats-text {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  padding-left: 27px;
  line-height: 24px;
}

.hero-title {
  font-family: var(--font-family-accent);
  font-size: clamp(68px, 8.06vw, 116px);
  font-weight: 300;
  line-height: clamp(80px, 10.42vw, 132px);
}

.hero-text {
  font-family: var(--font-family-accent);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.hero-second-column{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 862px;
}

.hero-little-image {
  width: min(220px,15.28vw);
  aspect-ratio: 1;
  overflow: hidden;
  object-fit: cover;     /* картинка заполняет блок без искажений */
  object-position: center;
}

.hero-third-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 862px;
  padding-block: var(--padding-y);
}

.hero-big-image {
  width: clamp(220px, 19.44vw, 280px);
  height: clamp(294px, 25.97vw, 374px);
}

.introduction-text {
  line-height: 24px;
  text-align: right;
}

.about-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding-block: var(--padding-y);
}

.about-item {
  display: flex;
  flex-direction: column;
  width: 440px;
  flex-grow: 1;
  gap: 40px;
}

.about-title {
  line-height: 40px;
}

.about-image {
  width: 440px;
  aspect-ratio: 1;
  overflow: hidden;
  object-fit: cover;     /* картинка заполняет блок без искажений */
  object-position: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding-block: var(--padding-y);
}

.price-packages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}

.price-text {
  font-weight: 500;
}

.price-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: clamp(20px,2.78vw,40px);
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  padding: 24px;
  height: 500px;
  width: 320px;
  cursor: pointer;
}

.price-item:hover {
  border-color: var(--color-red);
}

.price-item:hover button {
  background-color: var(--color-red);
  border-color: var(--color-red);
  color: var(--color-black);
}

.package-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}

.price-list-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: square;
  gap:4px;
  padding-left: 14px;
}

.package-payment {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}

.package-purpose{
  font-style: italic;
  line-height: 20px;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding-block: var(--padding-y);
}

.faq-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 680px;
}

.accordion-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.opened-question {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding-bottom: 20px;
  padding-top: 18px;
  border-bottom: 1px, solid, var(--color-white);
}

.first-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  width: 680px;
  padding-block: 18px;
  border-bottom: 1px solid var(--color-white);
}

.accordion-item:hover {
  color: var(--color-red);
  transition-duration: var(--transition-duration);
}

@media(max-width: 1100px) {


  .hero-sidebar-year {
    padding-bottom: 446px;
  }

  .hero-sidebar-year::after {
    height: 534px;
  }

  .hero-body {
    gap: 20px;
    min-height: 758px;
  }

  .hero-first-column{
    min-height: 758px;
  }
  
  .hero-second-column{
    display: none;
  }

  .hero-third-column{
    min-height: 758px;
  }
}

@media(max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .header-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: var(--color-black);
    animation: burgerAnimation 0.4s;
  }

  .header-menu-list {
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
  }

  .hide-on-mobile {
    display: none;
  }

  .about-list {
    flex-direction: column;
    align-items: center;
  }

  .about-item {
    width: clamp(340px, 94.80vw, 728px);
  }

  .about-image {
    width: clamp(340px, 94.80vw, 728px);
  }

  .about-me {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media(max-width: 750px) {
  .hero-sidebar {
    display: none;
  }

  .hero-container {
    justify-content: center;
  }
}

@media(max-width: 690px) {
  .hero-body {
    flex-direction: column;
    gap: 20px;
    min-height: 888px;
  }
  
  .hero-first-column{
    min-height: 382px;
    column-gap: 0px;
    padding-top: 60px;
    padding-bottom: 0px;
    
  }

  .hero-scroll {
    display: none;
  }

  .hero-title {
    font-size: 56px;
    line-height: 64px;
  }

  .hero-third-column{
    min-height: 486px;
    min-width: 340px;
    padding-bottom: var(--padding-y);
    padding-top: 0px;
  }
}

@media(max-width: 380px) {
  .burger-menu {
    display: flex;
  }

  .header-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: var(--color-black);
    animation: burgerAnimation 0.4s;
  }

  .header-menu-list {
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
  }

  .about-item {
    width: 340px;
  }

  .about-image {
    width: 340px;
  }
}

@keyframes burgerAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}
